body {
    background-image: url(img/capadocia.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h3 {
    margin-top: 5px;
}
.data {
    display: flex;
    flex-direction: column;
    outline: none;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    gap: 10px;
    width: 50%;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(167, 239, 232, 0.4);
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
}
input {
    font-size: 1.1em;
    font-style: italic;
    border-radius: 15px;
}
.data-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.data input {
    width: 80%;
}
.btns {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
a {
    text-decoration: none;
}
.btn-register {
    margin-top: 15px;
    background-color: #000000;
    color: rgb(167, 239, 232);
    cursor: pointer;
    height: 40px;
}
a img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}
.btns a {
    cursor: pointer;
    width: 270px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook {
    background-color: blue;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 5px;
    
}
.google {
    background-color: red;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 5px;
}


@media (max-width: 750px) {
    .btns a {
        width: 210px;
        flex-direction: column;
    }
}
@media (max-width: 640px) {
    .data-btns {
        flex-direction: column;
    }
    .data {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .title {
        text-align: center;
        font-size: 1.5em;
        padding: 10px;
    }
}
